<h4>Error! You threw '<%= @other%>'.</h4>
<h4>You must throw one of the following: 
<ul><%@throws.each do |item|%>
      <li><%=item%></li>
      <%end%> </h4>
</ul>
<a href = http://localhost:3000/>Back</a>
