<p><h3> Game rules: </h3></p>
  <p>scissors eats paper<br/>
  paper covers rock<br/>
  rock crushes scissors</p>
  <p>You play against the computer. Enter your choice in the URL (i.e.  http://localhost:4567/throw/choice )<br/>
   As an example, enter http://localhost:4567/throw/rock  if you want to throw rock</p>
  <p>Or click on the following links to play directly<br/>
     <a href = http://localhost:3000/throw/rock>Throw rock</a><br/>
     <a href = http://localhost:3000/throw/paper>Throw paper</a><br/>
     <a href = http://localhost:3000/throw/scissors>Throw scissors</a><br/> <br/>
     <a href = http://localhost:3000/stats>Game Scores</a><br/>
     

  